/* Стилизация кнопки */

.btn {
	padding: 15px 66px;
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	border: 0;
	border-radius: 8px;
	transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.btn--primary {
	background: var(--primary);
}

.btn--primary:hover {
	background: #2342C0;
	cursor:pointer;
}

.btn--primary:focus {
	background: #2342C0;
	cursor:pointer;
	border:0;
}
.btn--primary:disabled {
	background: #4263EB;
	opacity: 0.5;
	cursor:not-allowed;
}

.btn--secondary {
	background: var(--secondary);
}

.btn--secondary:hover {
	background: #5028C6;
	cursor:pointer;
}

.btn--secondary:disabled {
	background: #7048E8;
	opacity: 0.5;
	cursor:not-allowed;
}

.btn--alternate {
	background-color: #fff;
	border: 1px solid #ACB5BD;
	color: #495057;
}

.btn--alternate:hover {
	border: 1px solid #212429;
	cursor:pointer;
}

.btn--alternate:disabled {
	opacity: 0.3;
	cursor:not-allowed;
}