.tabs {
	position: relative;
}

.tabs__input {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}

.tabs__switchers {
	display: flex;
	gap: 40px;
}

.tabs__switcher {
	display: flex;
	flex-direction: column;
}

.tabs__title {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	display: flex;
	align-items: center;
	color: var(--subtitle);
	padding-bottom: 8px;
}

.tabs__control {
	height: 5px;
	width: 100%;

}

.tabs__line {
	max-width: 100%;
	height: 1px;
	background: var(--alternate-line);
	margin: 0;

}

.tabs__main {
	padding-top: 50px;
}

.tabs__content {
	padding-bottom: 30px;
}

.tabs__content_complex {}

.tabs__content_simple {}

#all-tab:checked~.tabs__scroller .container .tabs__switchers .tabs__switcher .tabs__title_all {
	color: var(--font-primary);
}

#all-tab:checked~.tabs__scroller .container .tabs__switchers .tabs__switcher .tabs__title_all~.tabs__control {
	background: var(--font-primary);
}

#complex-tab:checked~.tabs__scroller .container .tabs__switchers .tabs__switcher .tabs__title_complex {
	color: var(--font-primary);
}

#complex-tab:checked~.tabs__scroller .container .tabs__switchers .tabs__switcher .tabs__title_complex~.tabs__control {

	background: var(--font-primary);
}

#simple-tab:checked~.tabs__scroller .container .tabs__switchers .tabs__switcher .tabs__title_simple {
	color: var(--font-primary);
}

#simple-tab:checked~.tabs__scroller .container .tabs__switchers .tabs__switcher .tabs__title_simple~.tabs__control {

	background: var(--font-primary);
}

#complex-tab:checked~.tabs__main .container .tabs__content_simple {
	display: none;
}

#simple-tab:checked~.tabs__main .container .tabs__content_complex {
	display: none;
}