/* Стилизация аккордеона */

@import '../assets/css/main.css';

.accordeon {
	font-family: 'Inter', sans-serif;
	line-height: 150%;
	margin: 20px;
	width: 730px;
	height: 144px;
}

.accordeon__item {
	border: 1px solid gray;
	border-radius: 10px;
	padding: 30px;
	margin-bottom: 8px;
}

.accordeon__item:last-child {
	margin-bottom: 0;
}

.accordeon__title {
	display: block;
	color: #212429;
}

.accordeon__text {
	color: #495057;
}

summary::-webkit-details-marker {
	display: none;
}

details summary:before {
	content: 'V';
	font-size: 20px;
	font-weight: 300;
	color: gray;
	margin-right: 7px;
}