.modal {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(196, 196, 196, 0.5);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 50;
}

.modal_preview {
	display: flex;
	position: relative;
	padding: 22px 22px;
}

.modal__window {
	background-color: var(--background-main);
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 508px;
	position: relative;
	border-radius: 8px;
	padding: 30px 40px;
}

.modal__window_preview {
	max-width: 240px;
	padding: 20px 20px;
}

.modal__cross {
	position: absolute;
	top: 12px;
	right: 12px;
	color: #495057;
}

.modal__cross svg {
	width: 16px;
	height: 16px;
}

.modal__cross:target {
	display: none;
}


.modal__title {
	font-family: 'Inter';
	font-weight: 600;
	font-size: 20px;
	line-height: 1.2;
	color: #334D6E;
}

.modal__text {
	font-family: 'Inter';
	line-height: 1.5;
	color: #495057;
	margin-top: 14px;
}

.modal:target {
	display: flex;
}