@import './normalize.css';
@import '../fonts/fonts.css';


@import '../../components/page/page.css';
@import '../../components/header/header.css';
@import '../../components/preview/preview.css';
@import '../../components/container/container.css';
@import '../../components/card/card.css';
@import '../../components/footer/footer.css';

@import '../../components/layout/layout.css';
@import '../../components/content/content.css';
@import '../../components/sidebar/sidebar.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --black-2:#000000;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #374FC7;

    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --grey-5:#F9FAFC;

    --lite-1:#E2E6E8;
    --lite-2:#F3F5F5;
    --lite-3:#E3E7EA;


    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);
    

    --font-primary: var(--black);
    --background-main: var(--white);
    --background-secondary: var(--grey-5);

    --primary-hover:var(--blue-2);
    --secondary-hover:var(--purple-2);

    --alternate-border:var(--grey-3);
    --alternate-text:var(--grey-4);

    --background-histogram:var(--blue-3);
    --menu-title:var(--black-2);
}


* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
