@import './normalize.css';
@import '../fonts/fonts.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --black-2:#334D6E;
    --pink: #F784AD;
    --purple: #7048E8;
    --purple-2: #5028C6;
    --blue: #374FC7;
    --blue-2:#2342C0;
    --blue-3:#4263EB;
    --blue-4:#A0B1F5;

    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --grey-5:#F9FAFC;
    --grey-6:#90A0B7;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);

    --font-primary: var(--black);
    --background-main: var(--white);

    --primary-hover:var(--blue-2);
    --secondary-hover:var(--purple-2);

    --alternate-border:var(--grey-3);
    --alternate-text:var(--grey-4);

    --title-primary:var(--black-2);
    --font-secondary:var(--grey-6);
    --active-background:var(--blue-3);
    --active-color:var(--white);
    }


* {
    font-family: 'Roboto', sans-serif;
}

